html, body {
    height: 100%;
    width: 100%;
    justify-content: center;
    background-size: 100%;
  }
  
  h1 {
  font-size: 25px;
  text-align: center;
  font-family: monospace;
  color: black;
  }
  
  input {
  text-align: left;
  width: 600px;
  height: 25px;
  font-family: 'Courier New', Courier, monospace;
border-radius: 10px;
  }
  
  fieldset{
    margin-left: 380px;
    width: 800px;
    border-color: white;
    border-radius: 10px;
    border: 0px;

}

  .c2{
width: 100px;
height: 70px ;
background: none;
color: black;
border-radius: 20px;
position: absolute;
bottom: 15%;
top: 85%;
left: 90%;
right: 50px; 
}
  .c3{
    width: 100px;
    height: 70px ;
    background: none;
    color: black;
    border-radius: 20px;
    position: absolute;
    bottom: 15%;
    top: 85%;
   left: 50px;

  }


.c4 {
background-color: blue;
height: 100px;
color: yellow;
font-family: sans-serif;
box-shadow: 0px 0px 0px 2px black;
border-radius: 10px;
}